<aside class="sidebar">
  <div class="logo-wrap" onclick="location.href='/view/admin_dashboard.html'">
    <div class="logo-small">뉴스를 이해하는 방식</div>
    <div class="logo-main">DATA 다타</div>
  </div>

  <div class="side-title-wrap">
    <div class="side-title">관리자 페이지</div>
  </div>

  <ul class="side-menu">
    <li onclick="location.href='/view/admin_dashboard.html'">
      수집 정보
    </li>

    <li onclick="location.href='/view/admin_users.html'">
      회원 정보
    </li>

    <li onclick="location.href='/view/admin_dashboard.html'">
      모델 보정
    </li>
  </ul>
</aside>